body{
	background: url(contact.jpg);
	background-repeat: no-repeat;
background-size: cover;
}
.contact{
	width: 85%;
	max-width: 600px;
	background: rgba(12, 4, 4, 0.2);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	/*display: flex;
	flex-direction: row;
	width: 100%;*/
}
input{

	width : 240px;
	text-align: center;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	font-family: 'Play',sans-serif;
	font-size: 14px;
	font-weight: 200px;
	padding: 10px 0;
	transition: border 0.5s;
	outline: none;
	color: #fff;
}
input[type=button]{
	border: none;
	width: 190px;
	background:black ;
	color: white;
	font-size: 16px;
	line-height: 16px;
	padding: 15px 0;
	border-radius: 50px;
	cursor: pointer;
}
input[type=button]:hover
{
	color: #fff;
	background-color: #00b894;
}
.msg{
	width : 240px;
	text-align: center;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	font-family: 'Play',sans-serif;
	font-size: 14px;
	font-weight: 200px;
	padding: 10px 0;
	transition: border 0.5s;
	outline: none;
	color: #fff;
}
h2{
	margin: 30px 0 20px 0;
	font-size: 40px;
	font-weight: 700px;
	text-shadow: 2px 1px 5px black;
	text-transform: uppercase;
	color: white;
}
::placeholder {
  color: white;
  opacity: 1; 
}